[Unit]
Description=PartyBestellsystem Service
After=network.target

[Service]
Type=simple
User=pi
Group=lp
WorkingDirectory=/home/pi/PartyBestellsystem
Environment="FLASK_ENV=production"
Environment="PYTHONPATH=/home/pi/PartyBestellsystem"
ExecStart=/home/pi/PartyBestellsystem/.venv/bin/python3 /home/pi/PartyBestellsystem/run.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 